<header>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container", id="container">
      <nav>
        <ul class="nav pull-right">
<% if logged_in? %>
<%= link_to "Log out",logout_path,method: "delete" %>
<% else %>
<%= link_to "Log in",login_path %>

</ul>
      </nav> 
    </div>
  </div>
</header>

<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
<nav class="round">

</nav>

</header>
<% end %>
